.SideDrawer {
  position: fixed;
  background-color: wheat;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 70%;
  height: 100%;
  /*should be over backdrop*/
  z-index: 200;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.5s ease-out;
}
.Header {
  font-family: "Oleo Script", Helvetica, sans-serif;
  color: #f08e4a;
  font-size: large;
  font-weight: lighter;
  margin: 0px 20px;
}
/*DONOT show at bigger devices*/
@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100vw);
}

.Logo {
  display: flex;
  align-items: center;
}
